# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Logs
*.log

# OS
.DS_Store

# Spring Boot
*.pid

# Environment
.env
